@use '../styles/tokens'

.container
    display: grid
    grid-template-columns: repeat(4, 1fr)
    column-gap: 1.2rem
    padding: 0 2.4rem
    background-color: tokens.$primary500
    justify-items: center

.heroContainer
    grid-column: 1/5
    display: flex
    flex-direction: column
    align-items: center

.headingContainer
    order: 2

    h1, span
        color: tokens.$white
        margin-bottom: 3.2rem

    h1
        font-size: 4rem
        font-weight: 700
        font-family: tokens.$heading-font

    span
        display: block
        font-size: 1.6rem
        max-width: 48rem

.heroImg
    filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.15))
    transform: rotate(11deg)
    width: 100%

.imgContainer
    order: 1
    margin: 6.4rem 0
    width: 60%
    max-width: 25rem

@media screen and (min-width: 1024px)
    .container
        grid-template-columns: repeat(12, 1fr)
        column-gap: 2.4rem
        padding: 0 4.8rem

    .heroContainer
        grid-column: 3/11
        grid-row: 1
        flex-direction: row

    .marqueeContainer
        grid-column: 1/12
        grid-row: 2
        width: 100vw

    .headingContainer

        h1
            margin-top: 12.8rem
            font-size: 9.6rem
            line-height: 1.1

        span
            font-size: 2rem

    .imgContainer
        order: 2
        max-width: 40rem
        margin: 12.8rem 0 3.2rem 9.6rem
