@use '../styles/tokens'

.navbarContainer
    display: grid
    grid-template-columns: repeat(4, 1fr)
    column-gap: 1.2rem
    padding: 0 2.4rem
    background-color: tokens.$primary700
    height: 9rem
    justify-items: center

.modalIsOpen
    position: fixed
    width: calc(100% - 4.8rem)
    z-index: 99

.navbarWave
    width: 500%
    transform: translateX(-1%)
    margin-bottom: -2rem

.navbarBody
    grid-column: 1/5
    display: flex
    justify-content: space-between
    align-items: center
    column-gap: 2.4rem
    max-width: 1824px
    width: 100%
    z-index: 31

.burgerMenu
    border: none
    background: none
    justify-content: center
    transition: 0.4s
    position: relative
    width: 3.5rem
    height: 4.8rem
    padding: 0
    cursor: pointer

    div
        position: absolute
        border-radius: 0.8rem
        background-color: tokens.$white
        width: 3.5rem
        height: 0.4rem
        transform: rotate(0deg)
        transition: 0.25s ease-in-out

    div:first-child
        top: 1.6rem

    div:last-child
        top: 2.8rem

.burgerMenuActive
    div:first-child
        top: 1.75rem
        transform: rotate(45deg)

    div:last-child
        top: 1.75rem
        transform: rotate(-45deg)

.menuGrid
    display: none

.menuItem
    position: relative
    font-size: 1.6rem
    line-height: 1.4
    color: tokens.$light
    text-decoration: none

    &:hover
        color: tokens.$white

    &::after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 0.2rem
        border-radius: 0.1rem
        background-color: tokens.$white
        opacity: 0
        transition: opacity 300ms, transform 300ms

    &:hover::after,
    &:focus-visible::after
        opacity: 1
        transform: translate3d(0, 0.2em, 0)

    &:active
        color: tokens.$white

.button
    display: none

/* ------- MODAL MENU -------- */
.modalOverlay
    position: fixed
    inset: 0px
    background: none
    opacity: 0
    animation: fadeIn 300ms forwards ease-in-out
    z-index: 30

@keyframes fadeIn
    0%
        opacity: 0

    100%
        opacity: 1

.modalContainer
    z-index: 30
    position: relative

.modalBackground
    background-color: tokens.$primary700
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100vh

.modalContent
    margin-top: 9rem
    padding: 2.4rem
    display: flex
    flex-direction: column
    gap: 2.4rem

    .menuItem
        font-size: 2.4rem

    button
        margin-top: 2.4rem

@media screen and (min-width: 1024px)
    .navbarContainer
        grid-template-columns: repeat(12, 1fr)
        column-gap: 2.4rem
        padding: 0 4.8rem
        height: 9rem
        z-index: 2

    .navbarWave
        width: 100%
        transform: unset

    .navbarBody
        grid-column: 2/12
        display: flex
        justify-content: space-between
        align-items: center
        column-gap: 2.4rem
        max-width: 1824px
        width: 100%

    .menuGrid
        width: 100%
        display: flex
        align-items: center
        align-content: center
        justify-content: center
        gap: 4.8rem

    .modalOverlay
        display: none

@media screen and (min-width: 1200px)
    .button
        display: block
